# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebook
.ipynb_checkpoints/
*.nbconvert.ipynb

# Entornos virtuales
env/
venv/
ENV/
.venv/
.env/

# Archivos de configuración de VS Code
.vscode/

# Archivos temporales
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db